<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a class="navbar-brand" href="#"><img src="/assets/imgs/logo-la-guardiana-home.svg"></a>
    <div class="spacer"></div>
    <form class="form-inline my-2 my-lg-0 mr-3">
        <a class="navbar-brand" href="#"><img src="/assets/imgs/icon-user-home.svg" class="icon-user-home"></a>
        <div class="btn-group navbar-nav mr-3">
            <a role="button" id="navbarDropdownUser" class="nav-link dropdown-toggle puntero" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
              USUARIO
          </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
            </div>
        </div>
        <button class="btn btn-sm btn-outline-light btn-salir mr-2">SALIR</button>
    </form>
</div>


<div class="content" role="main">
    <div class="row">
        <div class="ocupado">Caja 1
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="disponible">Caja 2
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="ocupado">Caja 3
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="disponible">Caja 4
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="ocupado">Caja 5
            <span class="tooltiptext">Tooltip text</span>
        </div>
    </div>
    <div class="row">
        <div class="ocupado">Caja 6
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="disponible">Caja 7
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="disponible">Caja 8
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="ocupado">Caja 9
            <span class="tooltiptext">Tooltip text</span>
        </div>
        <div class="ocupado">Caja 10
            <span class="tooltiptext">Tooltip text</span>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>