<div class="body">
    <nav class="nav py-1 navbar p-5 toolbar" id="toolbar">
        <a class="navbar-brand" href="#"><img src="/assets/imgs/logo-la-guardiana-home.svg"></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Nombre de caja" aria-label="Search">
            <button class="btn btn-sm btn-outline-light btn-salir mr-2" type="submit">Buscar</button>
        </form>
        <form class="d-flex">
            <a class="" href="#"><img src="/assets/imgs/icon-user-home.svg" class="icon-user-home"></a>
            <div class="btn-group">
                <a role="button" id="navbarDropdownUser" class="nav-link dropdown-toggle text-usuario text-white" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                    USUARIO
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" href="#">Ir a mi perfil</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" [routerLink]="['account', 'cambiar-contrasena']" routerLinkActive="active">Cambiar contraseña</a>
                </div>
            </div>
            <button class="btn btn-sm btn-outline-light btn-salir mr-2">SALIR</button>
        </form>
    </nav>


    <div class="content" role="main">
        <h1 style="color: black;">Cajas de seguridad</h1>
        <div class="row" style="margin-top: 35px;">
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Kyrie Irving', 'Vence el día: 06/10')">
                <p class="style-text">A01</p>
                <span class="tooltiptext ocupado">Caja ocupada por Kyrie Irving</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir('Caja disponible (50 cms x 80 cms)', 'Precio de alquiler: $1000')">
                <p class="style-text">A02</p>
                <span class="tooltiptext">50 cms x 80 cms</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Facu Figliuolo', 'Vence el día: 25/10')">
                <p class="style-text">A03</p>
                <span class="tooltiptext">Caja ocupada por Facu Figliuolo</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir('Alquilada por: Lucas S.', 'Vence el día: 29/06')">
                <p class="style-text">A04</p>
                <span class="tooltiptext">Caja ocupada. Vence el 10/06</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Nicanor Cellati', 'Vence el día: 07/09')">
                <p class="style-text">A05</p>
                <span class="tooltiptext">Caja ocupada por Nicanor Cellati</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Mateo Moretti', 'Vence el día: 21/07')">
                <p class="style-text">B01</p>
                <span class="tooltiptext">Caja ocupada por Mateo Moretti</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer " (click)="abrir('Alquilada por: Josh', 'Vence el día: 22/11')">
                <p class="style-text">B02</p>
                <span class="tooltiptext">Caja ocupada. Vence el 06/06</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir('Caja disponible (60 cms x 60 cms)', 'Precio de alquiler: $1100')">
                <p class="style-text">B03</p>
                <span class="tooltiptext">60 cms x 60 cms</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Esteban', 'Vence el día: 16/07')">
                <p class="style-text">B04</p>
                <span class="tooltiptext">Caja ocupada por Esteban</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 25/10')">
                <p class="style-text">B05</p>
                <span class="tooltiptext">Caja ocupada. Vence el 24/05</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Leo Messi', 'Vence el día: 12/10')">
                <p class="style-text">C01</p>
                <span class="tooltiptext">Caja ocupada por Messi</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir('Caja disponible (50 cms x 90 cms)', 'Precio de alquiler: $1200')">
                <p class="style-text">C02</p>
                <span class="tooltiptext">50 cms x 90 cms</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir('Caja disponible (70 cms x 70 cms)', 'Precio de alquiler: $1500')">
                <p class="style-text">C03</p>
                <span class="tooltiptext">70 cms x 70 cms</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir('Alquilada por: Javier J.', 'Vence el día: 02/12')">
                <p class="style-text">C04</p>
                <span class="tooltiptext">Caja ocupada. Vence el 26/05</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Danilo Benitez', 'Vence el día: 08/10')">
                <p class="style-text">C05</p>
                <span class="tooltiptext">Caja ocupada por Danilo</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Renato', 'Vence el día: 01/09')">
                <p class="style-text">D01</p>
                <span class="tooltiptext">Caja ocupada por Renato</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir('Alquilada por: Ricardo M.', 'Vence el día: 16/11')">
                <p class="style-text">D02</p>
                <span class="tooltiptext">Caja ocupada. Vence el 04/06</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir('Caja disponible (40 cms x 1 mt)', 'Precio de alquiler: $900')">
                <p class="style-text">D03</p>
                <span class="tooltiptext">40 cms x 1 mt</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Juan Perez', 'Vence el día: 06/07')">
                <p class="style-text">D04</p>
                <span class="tooltiptext">Caja ocupada por Juan Perez</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir('Alquilada por: Pedro', 'Vence el día: 04/08')">
                <p class="style-text">D05</p>
                <span class="tooltiptext">Caja ocupada por Pedro</span>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width: 700px;">
            <span class="close" (click)="cerrar()">&times;</span>
            <h3 id="nombre">Some nombre</h3>
            <p id="vencimiento">Vence...</p>
        </div>

    </div>
</div>




<router-outlet></router-outlet>