<div class="body">
    <div class="toolbar" role="banner">
        <a class="navbar-brand" href="#"><img src="/assets/imgs/logo-la-guardiana-home.svg"></a>
        <div class="spacer"></div>
        <form class="form-inline my-2 my-lg-0 mr-3">
            <a class="navbar-brand" href="#"><img src="/assets/imgs/icon-user-home.svg" class="icon-user-home"></a>
            <div class="btn-group navbar-nav mr-3">
                <a role="button" id="navbarDropdownUser" class="nav-link dropdown-toggle puntero" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
              USUARIO
          </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                </div>
            </div>
            <button class="btn btn-sm btn-outline-light btn-salir mr-2">SALIR</button>
        </form>
    </div>


    <div class="content" role="main">
        <h1 style="color: white;">Cajas de seguridad</h1>
        <div class="row" style="margin-top: 35px;">
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Kyrie Irving', 'Vence el día: 06/10')">Caja 1
                <span class="tooltiptext ocupado">Caja ocupada por Kyrie Irving</span>
            </div>
            <div class="tooltip disponible" (click)="abrir('Caja disponible (50 cms x 80 cms)', 'Precio de alquiler: $1000')">Caja 2
                <span class="tooltiptext">50 cms x 80 cms</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Facu Figliuolo', 'Vence el día: 25/10')">Caja 3
                <span class="tooltiptext">Caja ocupada por Facu Figliuolo</span>
            </div>
            <div class="tooltip por-vencer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 29/06')">Caja 4
                <span class="tooltiptext">Caja ocupada. Vence el 10/06</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Nicanor Cellati', 'Vence el día: 07/09')">Caja 5
                <span class="tooltiptext">Caja ocupada por Nicanor Cellati</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Mateo Moretti', 'Vence el día: 21/07')">Caja 6
                <span class="tooltiptext">Caja ocupada por Mateo Moretti</span>
            </div>
            <div class="tooltip por-vencer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 22/11')">Caja 7
                <span class="tooltiptext">Caja ocupada. Vence el 06/06</span>
            </div>
            <div class="tooltip disponible" (click)="abrir('Caja disponible (60 cms x 60 cms)', 'Precio de alquiler: $1100')">Caja 8
                <span class="tooltiptext">60 cms x 60 cms</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Esteban', 'Vence el día: 16/07')">Caja 9
                <span class="tooltiptext">Caja ocupada por Esteban</span>
            </div>
            <div class="tooltip por-vencer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 25/10')">Caja 10
                <span class="tooltiptext">Caja ocupada. Vence el 24/05</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Leo Messi', 'Vence el día: 12/10')">Caja 11
                <span class="tooltiptext">Caja ocupada por Messi</span>
            </div>
            <div class="tooltip disponible" (click)="abrir('Caja disponible (50 cms x 90 cms)', 'Precio de alquiler: $1200')">Caja 12
                <span class="tooltiptext">50 cms x 90 cms</span>
            </div>
            <div class="tooltip disponible" (click)="abrir('Caja disponible (70 cms x 70 cms)', 'Precio de alquiler: $1500')">Caja 13
                <span class="tooltiptext">70 cms x 70 cms</span>
            </div>
            <div class="tooltip por-vencer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 02/12')">Caja 14
                <span class="tooltiptext">Caja ocupada. Vence el 26/05</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Danilo Benitez', 'Vence el día: 08/10')">Caja 15
                <span class="tooltiptext">Caja ocupada por Danilo</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Renato', 'Vence el día: 01/09')">Caja 16
                <span class="tooltiptext">Caja ocupada por Renato</span>
            </div>
            <div class="tooltip por-vencer" (click)="abrir('Alquilada por: Alguien', 'Vence el día: 16/11')">Caja 17
                <span class="tooltiptext">Caja ocupada. Vence el 04/06</span>
            </div>
            <div class="tooltip disponible" (click)="abrir('Caja disponible (40 cms x 1 mt)', 'Precio de alquiler: $900')">Caja 18
                <span class="tooltiptext">40 cms x 1 mt</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Juan Perez', 'Vence el día: 06/07')">Caja 19
                <span class="tooltiptext">Caja ocupada por Juan Perez</span>
            </div>
            <div class="tooltip ocupado" (click)="abrir('Alquilada por: Pedro', 'Vence el día: 04/08')">Caja 20
                <span class="tooltiptext">Caja ocupada por Pedro</span>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width: 700px;">
            <span class="close" (click)="cerrar()">&times;</span>
            <h3 id="nombre">Some nombre</h3>
            <p id="vencimiento">Vence...</p>
        </div>

    </div>


</div>



<router-outlet></router-outlet>