<div class="body">
    <nav class="nav py-1 navbar p-5 toolbar" id="toolbar">
        <a class="navbar-brand" href="#"><img src="/assets/imgs/logo-la-guardiana-home.svg"></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Nombre de caja" aria-label="Search">
            <button class="btn btn-sm btn-outline-light btn-salir mr-2" type="submit">Buscar</button>
        </form>
        <form class="d-flex">
            <a class="" href="#"><img src="/assets/imgs/icon-user-home.svg" class="icon-user-home"></a>
            <div class="btn-group">
                <a role="button" id="navbarDropdownUser" class="nav-link dropdown-toggle text-usuario text-white" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                    USUARIO
                </a>
            </div>
            <button class="btn btn-sm btn-outline-light btn-salir mr-2">SALIR</button>
        </form>
    </nav>


    <div class="content" role="main">
        <h1 style="color: black;">Cajas de seguridad</h1>

        <div fxLayout=" row " fxLayoutAlign="start start " fxLayoutGap="gappx ">

            <label for="sucursal" style="margin-right: 5px;">Sucursal: </label>

            <select name="sucursal" id="sucursal" (change)="redirigir($event.target.value)">
                <option value="junin">Junin</option>
                <option value="lincoln">Lincoln</option>
                <option value="chacabuco" selected=true>Chacabuco</option>
            </select>
        </div>
        <div class="row" style="margin-top: 35px;">
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1, 0)">
                <p class="style-text">A01</p>
                <span class="tooltiptext">Caja ocupada por {{personas[0]}}. Vence el {{fechas_fin[0]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0, 1)">
                <p class="style-text">A02</p>
                <span class="tooltiptext">Caja ocupada por {{personas[1]}}.</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2, 2)">
                <p class="style-text">A03</p>
                <span class="tooltiptext">{{dimensiones[2]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0, 3)">
                <p class="style-text">A04</p>
                <span class="tooltiptext">Caja ocupada por {{personas[3]}}</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2, 4)">
                <p class="style-text">A05</p>
                <span class="tooltiptext">{{dimensiones[4]}}</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,5)">
                <p class="style-text">B01</p>
                <span class="tooltiptext">Caja ocupada por {{personas[5]}}. Vence el {{fechas_fin[5]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer " (click)="abrir(0,6)">
                <p class="style-text">B02</p>
                <span class="tooltiptext">Caja ocupada por {{personas[6]}}</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,7)">
                <p class="style-text">B03</p>
                <span class="tooltiptext">Caja ocupada por {{personas[7]}}. Vence el {{fechas_fin[5]}}</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2,8)">
                <p class="style-text">B04</p>
                <span class="tooltiptext">{{dimensiones[8]}}</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2,9)">
                <p class="style-text">B05</p>
                <span class="tooltiptext">{{dimensiones[9]}}</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,10)">
                <p class="style-text">C01</p>
                <span class="tooltiptext">Caja ocupada por {{personas[10]}}. Vence el {{fechas_fin[10]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0,11)">
                <p class="style-text">C02</p>
                <span class="tooltiptext">Caja ocupada por {{personas[11]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0,12)">
                <p class="style-text">C03</p>
                <span class="tooltiptext">Caja ocupada por {{personas[12]}}</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,13)">
                <p class="style-text">C04</p>
                <span class="tooltiptext">Caja ocupada por {{personas[13]}}. Vence el {{fechas_fin[13]}}</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,14)">
                <p class="style-text">C05</p>
                <span class="tooltiptext">Caja ocupada por {{personas[14]}}. Vence el {{fechas_fin[14]}}</span>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2,15)">
                <p class="style-text">D01</p>
                <span class="tooltiptext">{{dimensiones[15]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0,16)">
                <p class="style-text">D02</p>
                <span class="tooltiptext">Caja ocupada por {{personas[16]}}</span>
            </div>
            <div class="tooltip ocupado cursor-pointer" (click)="abrir(0,17)">
                <p class="style-text">D03</p>
                <span class="tooltiptext">Caja ocupada por {{personas[17]}}</span>
            </div>
            <div class="tooltip por-vencer cursor-pointer" (click)="abrir(1,18)">
                <p class="style-text">D04</p>
                <span class="tooltiptext">Caja ocupada por {{personas[18]}}. Vence el {{fechas_fin[18]}}</span>
            </div>
            <div class="tooltip disponible cursor-pointer" (click)="abrir(2,19)">
                <p class="style-text">D05</p>
                <span class="tooltiptext">{{dimensiones[19]}}</span>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width: 700px;">
            <span class="close" (click)="cerrar()">&times;</span>
            <h3 id="titular"></h3>
            <h5 id="permitidos"></h5>
            <hr>
            <p id="dimensiones"></p>
            <p id="precio"></p>
            <hr>
            <p id="inicio"></p>
            <p id="duracion"></p>
            <p id="vencimiento"></p>

        </div>

    </div>
</div>

<router-outlet></router-outlet>